.header{
	position: relative;
	width: 100%;
	min-height:65px;
	padding:5vh 0 0 0 ;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.activeHeader{
	margin-top: calc(45vh - 65px) !important;
}

/* input.search{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 300px;
	font-size: 1rem;
	margin: 0 0 10px 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
} */
.inline{
	display: inline-block;
}
.button{
	margin-right:20px;
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	outline:none;
	color: #0a0a0a;
	background-color: transparent;
	text-align: center;
	letter-spacing: .5px;
	font-size: .9em;
}